div.detailpage-wrapper.card-deck {
  background-color: rgb(245, 242, 216);
}
div.image.col.card {
  background-color: rgb(245, 242, 216);
}
div.info-col.card {
  background-color: rgb(245, 242, 216);
  padding: 0vh;
}
div.detailpage-title {
  font-size: 1.5rem;
  margin-bottom: 2vh;
}
