div.row-picture-and-description.row {
  margin-left: 2vh;
  margin-right: 2vh;
}

//img
div.details-image.col-md-8 {
  padding-top: 1rem;
}

//text-box
h4.info-col-title {
  padding-top: 1rem;
}
p.description {
  text-align: justify;

  font-size: 1.2rem;
}
