div.weather-border.col {
  margin-left: 2.6rem;
  margin-right: 2.6rem;
  border: thin solid #7e783a;
}
div.weather-content-info {
  font-size: 1.2rem;
  text-align: justify;
  margin-left: 1vw;
  margin-right: 1vw;
  line-height: 4vh;
  padding-top: 1rem;
  display: flex;
  align-self: center;
}
