// div.countryAPI.card {
//   background-color: rgb(245, 242, 216);
// }
div.APIcard.card-group {
  margin: 5vh;
}

div.APIcountryInfo.card {
  border: thin solid #7e783a;
}
h2.general-info-title {
  font-size: 4vh;
  margin-bottom: 1.5vh;
}
div.APIcard {
  border: thin solid #7e783a;
}

div.Flag.card {
  align-items: center;
  background-color: black;
}
img.countryFlag {
  max-width: 25vh;
  height: auto;
}

// .APIcountryInfo {
//   text-align: justify;
// }
