button.submit-button.btn.btn-primary {
  margin-top: 2vh;
  padding: 1vh;
  width: 70%;
  background: linear-gradient(to bottom, #bf7b41 5%, #cf9c77 100%);
  background-color: #cf9c77;
  box-shadow: 3px 3px 7px 0px #899599;
  font-size: 1.3rem;
}

button.submit-button.btn.btn-primary:hover {
  background: linear-gradient(to bottom, #cf9c77 5%, #bf7b41 100%);
  background-color: #bf7b41;
}
button.submit-button.btn.btn-primary:active {
  position: relative;
  top: 0.2vh;
}
