.App {
  text-align: center;
}

/* hiding LI bullets */
li {
  list-style: none;
}

/* styling the boostrap navbar */
.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}
.navbar-dark .navbar-toggler-icon {
  color: white !important;
}
.navbar-dark .navbar-toggler {
  color: white !important;
  border-color: white !important;
}
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
  background-color: #7e783a !important;
}
button.btn.btn-primary {
  background-color: #7e783a;
  border-color: #7e783a;
}
a {
  color: white !important
  ;
}
div#responsive-navbar-nav.navbar-collapse.collapse {
  float: left !important;
}

/* Styling the Homepage Herobanner */
.heroBanner {
  width: 100%;
  height: 38vh;
  background-image: url("https://images.pexels.com/photos/3145154/pexels-photo-3145154.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center center;
  background-size: cover;
}

.hero-text {
  text-align: center;
  position: relative;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
}

/* styling homebuttons */

.homePageButtons {
  width: 40%;
  padding: 2vh;
  background-color: #f7e4a1 !important;
  color: black !important;
  /* margin: 1.2vh; */
}

/* leaflet map styling */
.leaflet-container {
  width: 100%;
  height: 50vh;
}

.card {
  min-width: 70vh !important;
}
